body {
    display: grid;
    display: inline;
    grid-template-areas: 
    "above_header above_header above_header"
    "header header header"
    "menu menu menu"
    "style style style"
    "side-bar content side-bar1"
    ". content ."
    "footer footer footer";
    background-color:  white;
    grid-template-columns: 200px 850px 200px;
    grid-template-rows: 18px 170px 50px 20px 200px 508px 459px;
}
.above_header {
    grid-area: above_header;
    width: 1350px;
    height: 18px;
    background-size: 1350px 55px;
    background-color: rgb(27, 47, 155);
    margin: 0;
    padding: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}
.header {
    grid-area: header;
    width: 1350px;
    height: 170px;
    background-size: 1350px 200px;
    background-color: rgb(37, 64, 214);
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 2/3;
}
.menu {
    grid-area: menu;
    background:rgb(217, 219, 221);
    width: 1350px;
    height: 50px;
    grid-column: 1/4;
    grid-row: 3/4;
}
.style {
        grid-area: style;
        height: 20px;
        width: 1350px;
        margin: 0;
        grid-column: 1/4;
        grid-row: 4/5;
}
.side-bar {
    grid-area: side-bar;
    height: 450px;
    width: 200px;
    grid-column: 1/2;
    grid-row: 5/6;
}
.side-bar1 {
    grid-area: side-bar;
    height: 442px;
    width: 200px;
    grid-column: 3/4;
    grid-row: 5/6;
}
.content {
    grid-area: content;
    height: 1100px;
    width: 850px;
    grid-column: 2/3;
    grid-row: 5/7;
}
/* .more {
    grid-area: more;
    height: 230px;
    width: 1600px;
    margin: 0px; 
} */
.footer {
    grid-area: footer;
    width: 1350px;
    height: 245px;
    background-color: rgb(37, 64, 214);
    grid-column: 1/4;
    grid-row: 7/8;
}
