body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.wrapper {
  font-family: cursive;
  color: #484848;
}
a {
  color: #767676;
  text-decoration: none;
}
.block_title {
  color: #484848;
}
h1 {
  color: #484848;
}
section.header {
  padding-left: 150px;
  padding-top: -30px;
  width: 1200px;
}
#home {
  background-color: #d9dbdd;
  height: 222px;
  width: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
}
.links {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
}
#logo {
  background-color: #2540d6;
  font-size: 80px;
  font-family: 'Segoe Script', cursive;
  color: #767676;
  align-content: center;
  line-height: 0;
  margin: 0;
  padding-left: 255px;
  padding-top: 1px;
}
#logo1 {
  background-color: #2540d6;
  font-size: 25px;
  font-family: 'Segoe Script', cursive;
  color: #dbb871;
  line-height: 0;
  margin-top: -45px;
  margin-left: 750px;
  float: left;
}
#header {
  width: 1100px;
}
#above_header {
  margin: 0;
  padding: 0;
}
nav {
  background: #dde4e4;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: 0.4s ease-in-out;
}
.topmenu {
  text-align: center;
  padding: 10px 0;
  background: #d9dbdd;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #dbb871;
  top: 16px;
  box-shadow: 4px -2px 0 #dbb871;
  transform: rotate(30deg);
}
.topmenu > li:last-child:after {
  background: none;
  box-shadow: none;
}
.topmenu > li > a {
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Segoe Script', cursive;
}
.topmenu li a:hover {
  color: #dbb871;
}
.submenu {
  position: absolute;
  left: -15%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s ease-in-out;
}
.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-weight: bold;
  font-family: 'Segoe Script', cursive;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.menu {
  border-top: 1px solid #c1c3c5;
}
.style {
  width: 1350px;
  background: #edeff1;
  padding-bottom: 5px;
  padding-left: 16px;
  text-align: center;
}
#under_menu {
  width: 1350px;
  background: #edeff1;
}
.inner ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.inner a {
  text-decoration: none;
}
#under_menu li {
  display: inline;
  margin-right: 2em;
}
.bg2 a {
  color: #484848;
  font: 10px 'Segoe Script';
}
.bg2 a:hover {
  text-decoration: none;
  font: 12px 'Segoe Script';
  color: #dbb871;
  padding: 2px;
  background: #e8f4fd;
  /* text-shadow: 0px 2px 0px rgba(194, 82, 82); */
  border-radius: 25px;
  box-shadow: 0px 1px 3px #c0bcbc;
  border: 1px solid #c0bcbc;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.32);
  transition: 0.8s ease-in-out;
}
.content {
  height: 1100px;
  width: 850px;
  margin-left: 200px;
  margin-top: -565px;
}
/* //home// */
#home1 {
  background-color: #d9dbdd;
  height: 222px;
  width: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: -283px;
}
#home2 {
  background-color: #d9dbdd;
  height: 222px;
  width: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: -2px;
}
#home3 {
  background-color: #d9dbdd;
  height: 222px;
  width: 940px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: -1px;
}
#home h1 {
  font-size: 55px;
  font-weight: 300;
  text-transform: capitalize;
  text-align: center;
}
#home h1 span {
  font-weight: 700;
}
#home h1 span p {
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
#home h1 span p a.next {
  padding: 10px;
  background: #1bbc9b;
  text-decoration: none;
  color: inherit;
}
.all {
  height: 550px;
  width: 850px;
}
.side-bar {
  margin-top: 100px;
}
.quest h1 {
  padding-top: 20px;
  padding-left: 20px;
}
.news {
  height: 550px;
  width: 135px;
  margin-left: 803px;
  margin-top: -585px;
}
.side-bar1 {
  margin-left: 1150px;
  margin-top: -1075px;
}
.footer {
  margin-top: 508px;
}
/* //class - all(gallery) */
#slider {
  position: relative;
  text-align: center;
  top: -20px;
}
#slider {
  margin: 0 auto;
}
#slides article {
  width: 20%;
  float: left;
}
#slides .image {
  width: 500%;
  line-height: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
article img {
  width: 60%;
}
#desktop:checked ~ #slider {
  max-width: 960px;
}
#switch:checked ~ #controls label:nth-child(5),
#switch:checked ~ #controls label:nth-child(1),
#switch:checked ~ #controls label:nth-child(2),
#switch:checked ~ #controls label:nth-child(3),
#switch:checked ~ #controls label:nth-child(4) {
  background: url('prev.png') no-repeat;
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  height: 68px;
  width: 68px;
}
#switch:checked ~ #controls label:nth-child(2),
#switch:checked ~ #controls label:nth-child(3),
#switch:checked ~ #controls label:nth-child(4),
#switch:checked ~ #controls label:nth-child(5),
#switch:checked ~ #controls label:nth-child(1) {
  background: url('next.png') no-repeat;
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  height: 68px;
  width: 68px;
}
label,
a {
  cursor: pointer;
}
.all input {
  display: none;
}
#switch1:checked ~ #slides .image {
  margin-left: 0;
}
#switch2:checked ~ #slides .image {
  margin-left: -100%;
}
#switch3:checked ~ #slides .image {
  margin-left: -200%;
}
#switch4:checked ~ #slides .image {
  margin-left: -300%;
}
#switch5:checked ~ #slides .image {
  margin-left: -400%;
}
#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}
#active label {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}
#active {
  margin: 23% 0 0;
  text-align: center;
}
#active label:hover {
  background: #76c8ff;
  border-color: #777 !important;
}
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #2540d6;
  border-color: #2540d6 !important;
}
#slides .image {
  transition: all 800ms cubic-bezier(0.7, 0, 0.175, 1);
}
#controls label:hover {
  opacity: 0.6;
}
#controls label {
  transition: opacity 0.2s easy-out;
}
/* //News// */
.news {
  text-align: center;
}
.news h3 {
  margin-left: 35px;
}
.news_list {
  text-align: left;
}
.news_list li {
  list-style-type: none;
}
.news_list li a {
  text-decoration: none;
}
.news_list1 {
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_list2 {
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_list3 {
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp {
  height: 750px;
  width: 220px;
  margin-left: 990px;
  margin-top: 5px;
}
.news_zp {
  text-align: center;
}
.news_zp h3 {
  margin-left: 5px;
}
.news_zp1 {
  text-align: left;
  font-family: cursive;
}
.news_zp1 li {
  list-style-type: none;
}
.news_zp1 li a {
  text-decoration: none;
}
.news_zp2 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp2 li {
  list-style-type: none;
}
.news_zp2 li a {
  text-decoration: none;
}
.news_zp3 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp3 li {
  list-style-type: none;
}
.news_zp3 li a {
  text-decoration: none;
}
.news_zp4 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp4 li {
  list-style-type: none;
}
.news_zp4 li a {
  text-decoration: none;
}
.news_zp5 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp5 li {
  list-style-type: none;
}
.news_zp5 li a {
  text-decoration: none;
}
.news_zp6 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp6 li {
  list-style-type: none;
}
.news_zp6 li a {
  text-decoration: none;
}
.news_zp7 {
  text-align: left;
  font-family: cursive;
  padding-bottom: 7px;
  border-bottom: 1px dotted grey;
}
.news_zp7 li {
  list-style-type: none;
}
.news_zp7 li a {
  text-decoration: none;
}
.view_all1 {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: -35px;
  margin-left: 30px;
  padding-bottom: 9px;
  font-family: 400 13.3333px Arial bold;
}
.footer {
  border: none;
  width: 1350px;
  text-align: left;
  background: #d9dbdd;
}
.footer_left {
  padding-left: 20px;
  padding-top: 1px;
}
.footer_left span {
  padding-left: 120px;
}
input {
  margin: 5px;
}
textarea {
  margin: 5px;
}
.info {
  border: none;
  width: 25%;
  margin-left: 500px;
  margin-top: -190px;
  text-align: left;
  line-height: 2;
}
.info h4 {
  text-align: left;
  font-size: 15px;
}
.info1 {
  border: none;
  width: 25%;
  margin-left: 695px;
  margin-top: -143px;
  text-align: center;
  line-height: 2;
}
.info1 h4 {
  text-align: center;
  font-size: 15px;
}
.info2 {
  border: none;
  width: 25%;
  margin-left: 965px;
  margin-top: -90px;
  text-align: center;
  line-height: 2;
}
.links1 {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: -40px;
  padding: 10px;
}
.links2 {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: -55px;
  margin-left: -10px;
  padding: 10px;
}
.links3 {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 70px;
  margin-left: 280px;
  padding: 10px;
}
.view_all {
  background: #242323;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: -15px;
  margin-left: 30px;
  padding-bottom: 9px;
  font-family: 400 13.3333px Arial bold;
}
.hello {
  background: #2540d6;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  text-transform: uppercase;
  margin-top: 390px;
  margin-left: 1020px;
  padding-bottom: 3px;
  font-family: 400 13.3333px Arial bold;
}
#calendar2 {
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: #555555;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: #2c567a;
}
#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: #e78c5c;
}
#calendar2 tbody td.today {
  background: #dc0000;
  color: #fff;
}
